*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:#000;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100%;
}
#car-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    width:400px;

}
.section{
    background:tan;
}

.roof{
    border-radius: 24px 12px 0 0;
}
.body{
    border-radius:12px;
    z-index:997;
    height:60px;
    width:400px;
    transform:skew(.0013turn,-2deg)
}
.roof,.wheels{
    position:absolute;
    height:75px;
}
.r1{
    top:-50px;
    width:210px;
    background:tan;
}

.r2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right:95px;
    top:-40px;
    width:208px;
    transform:skew(.003turn,-1deg);
    background-image: linear-gradient(90deg,rgba(63, 14, 47, 0.686),rgba(52, 6, 85, 0.759))
}
.divider{
    transform:rotate(-2deg);
    height:100%;
    width:2.5px;
    background:#000;
}
.wheels{
    padding: 0 1rem;
    bottom:-45px;
    opacity:.75;
    width: 400px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:998;
    background:none;    
}
.w1,.w2{
    border-radius:50%;
    height:75px;
    width:75px;
    position:relative;
    background:red;
    box-shadow:0 0 0 12px #333;
}



.rims{
    height:85px;
    width:2px;
    background:#333;
    position:absolute;
    left:34.5px;
    top:-2px;
}
.rims:nth-child(1){
    transform:rotate(90deg)
}
.rims:nth-child(2){
    transform:rotate(45deg)
}
.rims:nth-child(3){
    transform:rotate(-45deg)
}
.rims:nth-child(4){
    transform:rotate(-90deg)
}
.rim-mid{
    height:12px;
    width:12px;
    background:#fff;
    border-radius: 50%;
    position:absolute;
    left:29.5px;  
    bottom: 29px;
    z-index:999;
}
.forwards{
    animation: rotateForwards 5s infinite;
}
.reverse{
    animation: rotateBack 5s infinite;
}
@keyframes rotateForwards{
    from{
        transform:rotate(0)
    }
    to{
        transform:rotate(-360deg)
    }
}
@keyframes rotateBack{
    from{
        transform:rotate(0)
    }
    to{
        transform:rotate(360deg)
    }
}